@import "./fonts.css";
@import "tailwindcss";

@theme {
    --font-vazir: "Vazirmatn", sans-serif;
}

html {
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-vazir);
    background: #09090b;
    color: #fafafa;
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}
