
@import "./fonts.css";
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {

    --font-vazir: "Vazirmatn", sans-serif;

    /* Base */
    --color-background: #F5F1EA;
    --color-surface: #FFFCF8;

    /* Brand */
    --color-primary: #5B6F5F;
    --color-primary-hover: #4E6252;

    --color-secondary: #7A6652;
    --color-secondary-hover: #665341;

    /* Text */
    --color-text: #2F2C28;
    --color-muted: #746E68;

    /* Border */
    --color-border: #DDD4C8;
}
html {
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-vazir);
    background: var(--color-background);
    color: var(--color-text);
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}
